<div class='superheader'>
  <div class='container'>
    <i class='fa fa-arrow-left'></i>
    Go back to Bridgeview.gov
  </div>
</div>
<div class='wrapper' ng-view></div>
<div class='footer'>
  <div class='container'>
    <div class='column'>
      <h4 style='border-bottom:none;'>
        &copy; Copyright 2014 - City of Bridgeview
      </h4>
      <ul>
        <li>
          <i class='fa fa-twitter'></i>
          Follow us on Twitter
        </li>
        <li>
          <i class='fa fa-facebook'></i>
          Like us on Facebook
        </li>
        <li>
          <i class='fa fa-google-plus'></i>
          Add us to Google+
        </li>
      </ul>
    </div>
  </div>
  <div class='container'>
    <div class='column'>
      <h4>
        Rental Information
      </h4>
      <ul>
        <li>
          Facility Reservations
        </li>
        <li>
          Facility Details and Information
        </li>
        <li>
          Rental Terms and Conditions
        </li>
        <li>
          Parks and Recreation Events
        </li>
      </ul>
    </div>
  </div>
  <div class='container'>
    <div class='column'>
      <h4>
        Department Information
      </h4>
      <ul>
        <li>
          Contact the Parks and Recreation Dept
        </li>
        <li>
          P&R Dept Careers Portal
        </li>
        <li>
          About Parks and Recreation
        </li>
        <li>
          Office Location Details
        </li>
      </ul>
    </div>
  </div>
  <div class='container'>
    <div class='column'>
      <h4>
        Related Agencies
      </h4>
      <ul>
        <li>
          Building Department
        </li>
        <li>
          Health Services Department
        </li>
        <li>
          Public Works Department
        </li>
        <li>
          City Planning Department
        </li>
      </ul>
    </div>
  </div>
</div>