<div class='header picnic'>
  <div class='top'>
    <div class='container'>
      <img class='logo' src='images/bridgeview-logo.png' alt='Department of Parks and Recreation - Bridgeview CA'>
      <div class='nav'>
        <ul>
          <li class='tabletHidden'>
            <a>
              Explore
            </a>
          </li>
          <li class='tabletHidden'>
            <a>
              Reservations
            </a>
          </li>
          <li class='tabletHidden'>
            <a>
              Contact Us
            </a>
          </li>
          <li class='profile'>
            <a>
              <img class='avatar' src='images/profile.jpg'>
              <img class='pointer' src='images/pointer.png'>
              <ul>
                <li>
                  My Reservations
                </li>
                <li>
                  My League
                </li>
                <li>
                  My Account
                </li>
                <li>
                  My CivicID
                </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class='headline'>
    <div class='container'>
      <h1>
        Reservation Complete
      </h1>
    </div>
  </div>
</div>
<div class='container picnic reservation'>
  <div class='leftside'>
    <h2>
      Merry Islands Pavilion
      <br>
      <img src='images/border.jpg'>
    </h2>
    <div class='fields'>
      <img class='main' src='images/pavilion1.jpg'>
    </div>
    <div class='fields'>
      <h3>
        Facility Details
      </h3>
      <p>
        <i class='fa fa-male'></i>
        Restrooms Available
        <br>
        <i class='fa fa-paw'></i>
        Pet Friendly - Leash Required
        <br>
        <i class='fa fa-child'></i>
        Good for Small Children
        <br>
        <i class='fa fa-wheelchair'></i>
        Handicap Accessible
      </p>
    </div>
  </div>
  <div class='rightside'>
    <h2>
      Congratulations!
      <span class='tabletHidden'>
        Your reservation has been submitted
      </span>
    </h2>
    <p>
      Your reservation for Merry Islands Pavilion has been submitted and will be processed by the Parks and Recreation Department shortly.  You will also recieve a confirmation email for your records.
      <a>
        Click Here
      </a>
      to download your confirmation.
    </p>
    <div class='half'>
      <h3>
        Personal Information
      </h3>
      <div class='details'>
        <ul>
          <li>
            <div class='label'>
              Full Name
            </div>
            <div class='info'>
              Timothy Keough
            </div>
          </li>
          <li>
            <div class='label'>
              Address
            </div>
            <div class='info' style='text-align:right;'>
              14 Mint Plaza,
              <br class='mobileonly'>
              Bridgeview, CA 94103
            </div>
          </li>
          <li>
            <div class='label'>
              Phone Number
            </div>
            <div class='info'>
              (857) 866-3400
            </div>
          </li>
          <li>
            <div class='label'>
              Email Address
            </div>
            <div class='info'>
              tkeough@accela.com
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class='half'>
      <h3>
        Reservation Details
      </h3>
      <div class='details'>
        <ul>
          <li>
            <div class='label'>
              Date
            </div>
            <div class='info'>
              August 21st, 2014
            </div>
          </li>
          <li>
            <div class='label'>
              Reservation Time
            </div>
            <div class='info'>
              {{timeLow}}pm to {{timeHigh}}pm
            </div>
          </li>
          <li>
            <div class='label'>
              Event Title
            </div>
            <div class='info'>
              {{name}}
            </div>
          </li>
          <li class='phonehidden'>
            <div class='label'>
              Special Requests
            </div>
            <div class='info'>
              {{request}}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>