<div class='header'>
  <div class='top'>
    <div class='container'>
      <img class='logo' src='images/bridgeview-logo.png' alt='Department of Parks and Recreation - Bridgeview CA'>
      <div class='nav'>
        <ul>
          <li class='tabletHidden'>
            <a>
              Explore
            </a>
          </li>
          <li class='tabletHidden'>
            <a>
              Reservations
            </a>
          </li>
          <li class='tabletHidden'>
            <a>
              Contact Us
            </a>
          </li>
          <li class='profile'>
            <a>
              <img class='avatar' src='images/profile.jpg'>
              <img class='pointer' src='images/pointer.png'>
              <ul>
                <li>
                  My Reservations
                </li>
                <li>
                  My League
                </li>
                <li>
                  My Account
                </li>
                <li>
                  My CivicID
                </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class='headline'>
    <div class='container'>
      <h1>
        <div class='light'>
          Welcome Back, Tim!
        </div>
        Start making a reservation for...
      </h1>
      <div class='types'>
        <div class='holder'>
          <img src='images/aquaparks.jpg'>
          Pools and Aquaparks
        </div>
      </div>
      <div class='types' id='theone' ng-click='activate()'>
        <div class='holder'>
          <img src='images/picnic.jpg'>
          Pavilions / Facilities
          <div class='hidden'>
            <input class='date' placeholder='Search Date' type='text' value='08/21/2014'>
            <input class='time' placeholder='Search Time' type='text' value='12:00 pm'>
            <a href='/park'>
              Search
              <i class='fa fa-search'></i>
            </a>
          </div>
        </div>
      </div>
      <div class='types'>
        <div class='holder'>
          <img src='images/sports.jpg'>
          Ball Fields <br /> Sports Arenas
        </div>
      </div>
      <div class='types'>
        <div class='holder'>
          <img src='images/event.jpg'>
          Performance Spaces
        </div>
      </div>
      <div class='viewMore'>
        View More Recommendations and Facilities
      </div>
    </div>
  </div>
</div>
<div class='details'>
  <div class='container'>
    <h2>
      The 3rd Annual Bridgeview Pumpkin Festival is coming up!
      <br>
      <img src='images/border.jpg'>
    </h2>
    <p>
      The Pumpkin Festival celebrates its bountiful fall harvest and autumn splendor with a special display of gigantically enormous/heavyweight champion pumpkins, smashing entertainment with three stages of stellar live music, the Pumpkin Parade, a bone-chilling Haunted House, harvest-inspired crafts, homestyle foods, expert pumpkin carver Farmer Brown sculpting a monster 1,000+ pound pumpkin into a one-of-a-kind masterpiece, photos with the grand champion mega-gourd, pie-eating and costume contests, and pumpkin carving for fun. Festival admission is free. Pets are not allowed.
    </p>
  </div>
  <div class='left'>
    <img src='images/pumpkin.jpg'>
  </div>
  <div class='right'>
    Hundreds of pumpkins carved by Bridgeview Elementary school kids
  </div>
</div>