<div class='header picnic'>
  <div class='top'>
    <div class='container'>
      <img class='logo' src='images/bridgeview-logo.png' alt='Department of Parks and Recreation - Bridgeview CA'>
      <div class='nav'>
        <ul>
          <li class='tabletHidden'>
            <a>
              Explore
            </a>
          </li>
          <li class='tabletHidden'>
            <a>
              Reservations
            </a>
          </li>
          <li class='tabletHidden'>
            <a>
              Contact Us
            </a>
          </li>
          <li class='profile'>
            <a>
              <img class='avatar' src='images/profile.jpg'>
              <img class='pointer' src='images/pointer.png'>
              <ul>
                <li>
                  My Reservations
                </li>
                <li>
                  My League
                </li>
                <li>
                  My Account
                </li>
                <li>
                  My CivicID
                </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class='headline'>
    <div class='container'>
      <h1>
        Reserving Pavilions or Facilities
      </h1>
    </div>
  </div>
</div>
<div class='container picnic'>
  <div class='leftside'>
    <h2>
      Refine Your Search
      <br>
      <img src='images/border.jpg'>
    </h2>
    <div class='fields'>
      <h3>
        Facility Type:
      </h3>
      <div class='fieldset'>
        <input id='bbq' type='checkbox'>
        <label for='bbq'>
          Pavilions
        </label>
      </div>
      <div class='fieldset'>
        <input id='picnictable' type='checkbox'>
        <label for='picnictable'>
          Picnic Area
        </label>
      </div>
      <div class='fieldset'>
        <input id='bbq' type='checkbox'>
        <label for='bbq'>
          BBQ Grills
        </label>
      </div>
    </div>
    <div class='fields'>
      <h3>
        Date:
      </h3>
      <div class='date fieldset'>
        <input type='date' value='2014-08-21'>
      </div>
      <h3>
        Time:
      </h3>
      <div class='fieldset time'>
        <input class='time' placeholder='Search Time' type='text' value='12:00 pm'>
      </div>
    </div>
    <div class='fields'>
      <h3>
        Park Name:
      </h3>
      <div class='fieldset'>
        <input id='auborn' type='checkbox'>
        <label for='auborn'>
          Auborn Park
        </label>
      </div>
      <div class='fieldset'>
        <input id='dewy' type='checkbox'>
        <label for='dewy'>
          Dewy Park
        </label>
      </div>
      <div class='fieldset'>
        <input id='green' type='checkbox'>
        <label for='green'>
          Green Pavilion
        </label>
      </div>
      <div class='fieldset'>
        <input id='little' type='checkbox'>
        <label for='little'>
          Little Hills
        </label>
      </div>
      <div class='fieldset tabletHidden'>
        <input id='merry' type='checkbox'>
        <label for='merry'>
          Merry Islands
        </label>
      </div>
      <div class='fieldset tabletHidden'>
        <input id='sleepy' type='checkbox'>
        <label for='sleepy'>
          Sleepy River
        </label>
      </div>
    </div>
  </div>
  <div class='rightside'>
    <div class='result'>
      <img src='images/pavilion2.jpg'>
      <div class='details'>
        <h4>
          Main Pavilion at Auborn Park
          <a class='viewmap'>
            map
          </a>
          <div class='timeline'>
            <div class='blue piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available open'>
                Timeslot Available
              </div>
            </div>
            <div class='blue piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='morning'>
              8am
            </div>
            <div class='evening'>
              8pm
            </div>
          </div>
        </h4>
        <ul>
          <li>
            <div class='label'>
              Park Hours
            </div>
            <div class='info'>
              8am - 8pm
            </div>
          </li>
          <li>
            <div class='label'>
              Maximum Capacity
            </div>
            <div class='info'>
              64 people
            </div>
          </li>
          <li>
            <div class='label'>
              Facility Details
            </div>
            <div class='info'>
              <i class='fa fa-male'></i>
              <i class='fa fa-leaf'></i>
              <i class='fa fa-child'></i>
            </div>
          </li>
          <li>
            <div class='label'>
              Price Per Hour
            </div>
            <div class='info'>
              $65. <sup>00</sup>
            </div>
          </li>
        </ul>
        <div class='select'>
          <a href='reservation'>
            Reserve This!
          </a>
        </div>
      </div>
    </div>
    <div class='result'>
      <img src='images/picnic1.jpg'>
      <div class='details'>
        <h4>
          Picnic Area at South Auborn Park
          <a class='viewmap'>
            map
          </a>
          <div class='dark timeline'>
            <div class='blue piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='blue piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='blue piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='blue piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='morning'>
              10am
            </div>
            <div class='evening'>
              6pm
            </div>
          </div>
        </h4>
        <ul>
          <li>
            <div class='label'>
              Park Hours
            </div>
            <div class='info'>
              10am - 6pm
            </div>
          </li>
          <li>
            <div class='label'>
              Maximum Capacity
            </div>
            <div class='info'>
              24 people
            </div>
          </li>
          <li>
            <div class='label'>
              Facility Details
            </div>
            <div class='info'>
              <!-- %a -->
              <!--   %i.fa.fa-map-marker -->
              <!--   %span -->
              <!--     Facility Map -->
              <i class='fa fa-glass'></i>
              <i class='fa fa-camera-retro'></i>
            </div>
          </li>
          <li>
            <div class='label'>
              Price Per Hour
            </div>
            <div class='info'>
              $25. <sup>50</sup>
            </div>
          </li>
        </ul>
        <div class='select'>
          <a class='disabled'>
            Not Available
          </a>
        </div>
      </div>
    </div>
    <div class='result'>
      <img src='images/pavilion1.jpg'>
      <div class='details'>
        <h4>
          Merry Islands Grand Pavilion
          <a class='viewmap'>
            map
          </a>
          <div class='timeline' style='background:#808080;'>
            <div class='blue piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='blue piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='morning'>
              8am
            </div>
            <div class='evening'>
              10pm
            </div>
          </div>
        </h4>
        <ul>
          <li>
            <div class='label'>
              Park Hours
            </div>
            <div class='info'>
              8am - 8pm
            </div>
          </li>
          <li>
            <div class='label'>
              Maximum Capacity
            </div>
            <div class='info'>
              124 people
            </div>
          </li>
          <li>
            <div class='label'>
              Facility Details
            </div>
            <div class='info'>
              <!-- %a -->
              <!--   %i.fa.fa-map-marker -->
              <!--   %span -->
              <!--     Facility Map -->
              <i class='fa fa-male'></i>
              <i class='fa fa-paw'></i>
              <i class='fa fa-child'></i>
              <i class='fa fa-wheelchair'></i>
            </div>
          </li>
          <li>
            <div class='label'>
              Price Per Hour
            </div>
            <div class='info'>
              $70. <sup>00</sup>
            </div>
          </li>
        </ul>
        <div class='select'>
          <a href='reservation'>
            Reserve This!
          </a>
        </div>
      </div>
    </div>
    <div class='result'>
      <img src='images/bbq1.jpg'>
      <div class='details'>
        <h4>
          Dewy Park Beach Side BBQ and Picnic
          <a class='viewmap'>
            map
          </a>
          <div class='timeline'>
            <div class='blue piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='blue piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='blue piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='blue piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='blue piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='blue piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='morning'>
              6am
            </div>
            <div class='evening'>
              8pm
            </div>
          </div>
        </h4>
        <ul>
          <li>
            <div class='label'>
              Park Hours
            </div>
            <div class='info'>
              6am - 8pm
            </div>
          </li>
          <li>
            <div class='label'>
              Maximum Capacity
            </div>
            <div class='info'>
              48 people
            </div>
          </li>
          <li>
            <div class='label'>
              Facility Details
            </div>
            <div class='info'>
              <!-- %a -->
              <!--   %i.fa.fa-map-marker -->
              <!--   %span -->
              <!--     Facility Map -->
              <i class='fa fa-paw'></i>
              <i class='fa fa-wheelchair'></i>
            </div>
          </li>
          <li>
            <div class='label'>
              Price Per Hour
            </div>
            <div class='info'>
              $35. <sup>95</sup>
            </div>
          </li>
        </ul>
        <div class='select'>
          <a href='reservation'>
            Reserve This!
          </a>
        </div>
      </div>
    </div>
    <div class='result'>
      <img src='images/pavilion3.jpg'>
      <div class='details'>
        <h4>
          Top of the Little Hills Pavilion
          <a class='viewmap'>
            map
          </a>
          <div class='timeline'>
            <div class='piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='blue piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='blue piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='blue piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='blue piece'>
              <div class='unavailable'>
                Timeslot Unavailable
              </div>
              <div class='available'>
                Timeslot Available
              </div>
            </div>
            <div class='morning'>
              10pm
            </div>
            <div class='evening'>
              10pm
            </div>
          </div>
        </h4>
        <ul>
          <li>
            <div class='label'>
              Park Hours
            </div>
            <div class='info'>
              10pm - 10pm
            </div>
          </li>
          <li>
            <div class='label'>
              Maximum Capacity
            </div>
            <div class='info'>
              24 people
            </div>
          </li>
          <li>
            <div class='label'>
              Facility Details
            </div>
            <div class='info'>
              <!-- %a -->
              <!--   %i.fa.fa-map-marker -->
              <!--   %span -->
              <!--     Facility Map -->
              <i class='fa fa-leaf'></i>
              <i class='fa fa-wheelchair'></i>
              <i class='fa fa-glass'></i>
              <i class='fa fa-camera-retro'></i>
            </div>
          </li>
          <li>
            <div class='label'>
              Price Per Hour
            </div>
            <div class='info'>
              $100. <sup>95</sup>
            </div>
          </li>
        </ul>
        <div class='select'>
          <a href='reservation'>
            Reserve This!
          </a>
        </div>
      </div>
    </div>
  </div>
</div>