.search {
  a.searchIcon {
    position:absolute;
    right:20px;
    top:35px;
    font-size:1.5em;
  }

  &.dashboard {
    position:relative;
    float:left;
    padding:0;
    width:100%;
    box-sizing:border-box;
  }

  a {
    color:$lightBlue;
  }
}
